
/************ General Styling *************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover{
    text-decoration: none;
}

ul, li{
    list-style-type: none;
}

input:focus, button:focus{
    outline: none;
}

body{
     font-family: arial, sans-serif;
     font-size: 14px;
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}
/************ Header Area *************/
.header{
    width: 100%;
    padding: 20px;
    height: 10vh;
    display: flex;
   justify-content: flex-end;
}
.header nav.nav {
    display: flex;
    align-items: center;
   justify-content: space-between;
   gap: 20px;
}

.header nav.nav a{
    color: rgba(0, 0, 0, 0.87);
}

.header nav.nav a:hover{
    text-decoration: underline;
}

.header .nav .apps-img-wrapper{
    display: flex;
}
.header .nav a .apps-img{
    width: 24px;
    height: auto;
}

.header .nav a .user-img{
    width: 32px;
    height: auto;
    border-radius: 50%;
}

/************ End of Header Area *************/


/************ Home Area *************/

.home-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 30px;
    padding: 0 20px;
}
.home-area img{
    width: 272px;
    height: 92px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center bottom;
}
.form-group{
    width: 590px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dfe1e5;
    height: 44px;
    border-radius: 24px;
    background-color: #fff;
    padding: 0 15px;
}

.form-group input {
    width: 85%;
    height: 100%;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    font-size: 16px;
}

.form-group .search-img{
    width: 30px;
    height: 30px;
}

.form-group .microphone-img{
    width: 24px;
    height: 24px;
}
.buttons a{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    margin: 11px 4px;
    padding: 10px 13px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.buttons a:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

/************ End of Home Area *************/

/************ Footer Area *************/
.footer{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-top: 1px solid #ddd3d3;
}


.footer-nav{
    display: flex;
}

.footer-nav a{
    color: #70757a;
    padding: 15px;
}

.footer-nav a:hover{
    text-decoration: underline;
}

@media(min-width: 576px){
    .footer{
        flex-direction: row;
    }

}

@media(min-width: 768px){
   .footer-nav a:last-child{
        display: block;
}

}

/************ End of Footer Area *************/